---
// Astro tools
import { Image } from "astro:assets";

// components
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";

// assets
import peter from "@/assets/avatar.jpg";
---

<header aria-label="Introduction to Peter" class="hero-home">
  <Image
    src={peter}
    alt="Peter Chapman"
    width={200}
    format="avif"
    class="avatar"
  />
  <Heading tagName="h1" size="h2">👋 Hi, I&rsquo;m Peter</Heading>
  <p>I&rsquo;m a self-taught designer and developer obsessed with quality.</p>
  <div>
    <Link href="#" variant="secondary">Download CV</Link>
    <Link href="#contact">Let&rsquo;s Connect</Link>
  </div>
</header>
